<div>
	<table border="1">
		<tr>
			<td>micro process</td>
			<td>server</id>
			<td>pid</id>
			<td>status</id>
			<td>runs</id>
		</tr>
		<tr ng-repeat="p in processes | orderBy: [ 'process', 'server', 'pid' ]">
			<td>{{ p.process }}</td>
			<td>{{ p.server }}</td>
			<td>{{ p.pid }}</td>
			<td>{{ p.status }}</td>
			<td>{{ p.runs.current + "/" + p.runs.maxRuns }}</td>
			<td ng-click="onRestart(p.process, p.pid)">restart</td>
			<td ng-click="onKill(p.pid)">kill</td>
			<td ng-click="onStop(p.process, p.pid)">stop</td>
			<td ng-click="onSpawn(p.process, p.server)">spawn</td>
		</tr>
	</table>
</div>