<div>
	<table border="1">
		<tr>
			<td>micro process</td>
			<td>server name</id>
			<td>server ip</id>
			<td>pid</id>
			<td>status</id>
			<td>runs</id>
		</tr>
		<tr ng-repeat="p in processes | orderBy: [ 'process', 'server.name', 'pid' ]">
			<td>{{ p.process }}</td>
			<td>{{ p.server.name }}</td>
			<td>{{ p.server.ip }}</td>
			<td>{{ p.pid }}</td>
			<td>{{ p.status }}</td>
			<td>{{ p.runs.current + "/" + p.runs.maxRuns }}</td>
			<td ng-click="onRestart(p.process, p.server.ip, p.pid, p.controllerPort)">restart</td>
			<td ng-click="onStop(p.process, p.server.ip, p.pid, p.controllerPort)">stop</td>
			<td ng-click="onSpawn(p.process, p.server.ip, p.controllerPort)">spawn</td>
		</tr>
	</table>
</div>