<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>AiotA Management Console</title>

</head>
<body data-ng-app="aiotaConsole">

<img src="images/aiota.png"><br /><br />

<div data-ng-include="'templates/menu'"></div>
<div data-ng-view></div>

<script src="js/jquery.1.11.1.min.js"></script>
<script src="js/angular.1.2.27.min.js"></script>
<script src="js/angular-route.1.2.27.min.js"></script>

<script src="js/main.js"></script>

</body>

</html>